# Pandas

Python Data Analysis Library. It makes use of Series (Like a Numpy Array) and DataFrame (tabular data 表格式). In this lesson, we will learn the basic data processing, calculation and filtering by using Pandas.

- [Is student passed?](#Is-student-passed?)
- [Accessing the column](#Accessing-the-column)
- [Reading Excel](#Reading-Excel)
- [Reading CSV](#Reading-CSV)
- [Fetching CSV from Wikipedia](#Fetching-CSV-from-Wikipedia)
- [Lab 4: Olymnic Games medal table](#Lab-4:-All-time-Olympic-Games-medal-table)

In [ ]:
import numpy as np
import pandas as pd

## Is student passed?

Remember the `pass_or_fail` function we defined in lesson 2? Now we can further process this example with Pandas and its DataFrame.

In [ ]:
# Apply label to data
def pass_or_fail(x):
    if x >= 60:
        return True
    return False

In [ ]:
# Prepare the data
data = [50, 60, 20, 50, 88, 45, 63, 59]

Given the data list, we can convert it into DataFrame

In [ ]:
# Where is the pass and fail?
df = pd.DataFrame(data, columns=['Score'])
df

We can create extra column to indicate if the score is passed.

In [ ]:
df['Is Passed'] = df['Score'].apply(pass_or_fail)
df

By using Boolean filtering, we can list only the data that meet the condition.

In [ ]:
df[ (df['Score']>=60) & (df['Score']<=80) ]

Next, we will load the students dictionary from lesson 2.

In [ ]:
students = [
    {'name': 'Thomas', 'score': 65},
    {'name': 'Alan', 'score': 95},
    {'name': 'Jane', 'score': 85},
    {'name': 'Susan', 'score': 75},
    {'name': 'Chris', 'score': 45}
]

We convert the dictionary into DataFrame. Pandas will take care of the column name automatically.

In [ ]:
df = pd.DataFrame(students)
df

Same as the example above, we apply the `pass_or_fail` function to create a new column with Boolean.

In [ ]:
df['Is Passed'] = df['score'].apply(pass_or_fail)
df

We can generate a new DataFrame with only the passed records.

In [ ]:
df_passed = df[df["Is Passed"]]
df_passed

We can save the processed tabular data into Excel by using `to_excel`.

In [ ]:

df_passed.to_excel("Students Passed.xlsx")

## Accessing the column

We can get the name of students who passed.

In [ ]:
df[df["Is Passed"]]["name"]

An example of outputing the result.

In [ ]:
count_of_passed = len(df[df["Is Passed"]])
result = f"We have total {len(df)} students, {count_of_passed} of them passed."
print(result)

In [ ]:
names = ', '.join(df[df["Is Passed"]]["name"])
names = f"They are {names}."

print(names)

## Reading Excel

In [ ]:
df = pd.read_excel('visitors.xlsx')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df['Visitors']

Which hours do we have more than 30 visitors?

In [ ]:
df[ df['Visitors'] > 30 ]

We can create new Boolean column with condition.

In [ ]:
df['Good Timing'] = df['Visitors']>30

In [ ]:
df

In [ ]:
df[df['Good Timing']]

## Reading CSV

In [ ]:
df = pd.read_csv('visitors.csv', delimiter=',', names=('date','visitors'))

df.head()

In [ ]:
df['date'].head()

## Fetching CSV from Wikipedia

We can convert the data table into CSV by using https://wikitable2csv.ggor.de

For example, we can download the All-time Olympic Games medal table from Wikipedia:

https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table

We can load the converted CSV directly into pandas and process the data set. Alternatively, we can clean up the CSV a little bit before loading it into pandas.

For instance, we can give each column a readable name in header. We can also convert thousands with comma too.

## Lab 4: All-time Olympic Games medal table

We have prepared a `table-1-olympics.csv` file with basic format processed.

In [ ]:
df = pd.read_csv('table-1-olympics.csv')
df = df[:-1] # Remove the last row of data
df.head()

In [ ]:
df.shape

By checking the `dtype`, we find that the data in "O" instead of "Int". "O" stands for Object because it is treated as String.

In [ ]:
df['Total'].dtype

We can convert the dtype by using `astype`.

In [ ]:
df['Total'] = df['Total'].astype(int)

In [ ]:
df['Total'].dtype

Now the team name is not quite readable. There are extra symbols and footnote indicators.

We can clean up `Team` name and replace space into underscore:

In [ ]:
df["Team"] = df["Team"].apply(lambda x: x.split("(")[0].strip().replace(" ","_"))

In [ ]:
df.head()

Set the Team name as dataframe index:

In [ ]:
df.set_index("Team", inplace=True)

Make sure all numbers in the dataframe are numeric:

In [ ]:
df = df.astype(int)

We can inspect the column names by using `df.columns`

|Expected result|
|---|
|Index(['Summer Games', 'Gold', 'Silver', 'Bronze', 'Total', 'Winter Games',
       'Gold.1', 'Silver.1', 'Bronze.1', 'Total.1', 'Combined Participated',
       'Combined Gold', 'Combined Silver', 'Combined Bronze',
       'Combined Total'],
      dtype='object')|

We can access a particular row of data by using `iloc`

In [ ]:
df.iloc[16]

We can also access a particular row of data by using the index label `df.loc["Brazil"]`.

What is the Olymnpic Medal data from China?

|Expected result|
|---|
|Summer Games              10
Gold                     224
Silver                   167
Bronze                   155
Total                    546
Winter Games              11
Gold.1                    13
Silver.1                  28
Bronze.1                  21
Total.1                   62
Combined Participated     21
Combined Gold            237
Combined Silver          195
Combined Bronze          176
Combined Total           608
Name: China, dtype: int32|

How many gold medal China won in Summer Olymnpics?

|Expected result|
|---|
|224|

We can get the rank of gold medal list by using `df.sort_values`.

In [ ]:
df.sort_values(by="Gold", ascending=False)[:5]

How many teams earn gold medals in both summer Olympics and winder Olympics?

In [ ]:
len(df[(df["Gold"] > 0) & (df["Gold.1"] > 0)])

Which teams are they?

In [ ]:
df[(df["Gold"] > 0) & (df["Gold.1"] > 0)][['Gold','Gold.1']]

How about the team that wins gold medals in winter Olympics but not summer Olympics?

|Expected result|
|---|
|['Liechtenstein', 'Olympic_Athletes_from_Russia']|

---

## Summary

In this lesson, we learn to process tabular data by using Pandas.

## 筆記整理

## pandas--对axis=0,axis=1的理解
![](img/pandas_axis.jpg)

In [ ]:
df = pd.DataFrame([[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]], \
columns=["col1", "col2", "col3", "col4"])
df.mean(axis=1) #均值
df.drop("col4", axis=1)

# pandas 處理xlsx資料 iterate all data

In [ ]:
import pandas as pd
df=pd.read_excel('ref/lesson-8-numpy-and-pandas/visitors.xlsx',index_col=0)   

#column name & type
for column_name in df: print(r"{}{}".format(type(column_name),column_name))
    
# iterate items
for column_name, item in df.iteritems():
    print(r"{}{}".format(type(column_name),column_name))
    print(type(item))
    print(item)
    print('------')   
    break

# colunm name 
print("('{}'),".format("','".join(str(column_name).replace("'","") for column_name in df)))

# iterate rows
for index, row in df.iterrows():
    print("('{}'),".format("','".join(str(r).replace("'","") for r in row)))

In [ ]:
import pandas as pd
df=pd.read_excel('kw_data.xlsx',index_col=0)   
df

In [ ]:
from IPython.display import Latex,HTML,Markdown
#df.dtypes
df1 = df[(df["性別"]=="M") & ((df["BMI"]>=18.0) & (df["BMI"]<=22.0))]
df1=  df1=="X" 
sum_s=df1.sum(axis=0)
display(sum_s)
#display(Markdown("{}\n{}\n{}".format("|".join(sum_s.index),"|".join("--" for _ in sum_s.index),"|".join(str(v) for i, v in sum_s.items()))))